---
import CardSecundary from "@components/CardSecundary.astro";
import LayoutStatistics from "@layouts/LayoutStatistics.astro";
import { getTopsPlayers, typeStatistics } from "@services/statistics";
const topPlayes = await getTopsPlayers();
---

<LayoutStatistics>
  <section
    class="grid gap-6 py-5 md:grid-cols-2 xl:grid-cols-3 md:[&>section:nth-child(3)]:col-span-2 xl:[&>section:nth-child(3)]:col-span-1"
  >
    {
      Object.entries(typeStatistics).map(([key, { title, keyAmount }]) => (
        <CardSecundary
          statistic={title}
          keyAmount={keyAmount}
          data={topPlayes[key]}
        />
      ))
    }
  </section>
</LayoutStatistics>
