---
import Layout from "@layouts/Layout.astro";
import { getTopOnePlayers } from "@services/statistics";
const topPlayes = await getTopOnePlayers();
console.log(topPlayes);
---

<Layout>
  <h1>{JSON.stringify(topPlayes)}</h1>
</Layout>
