---
import LayoutStatistics from "@layouts/LayoutStatistics.astro";
import { getTopOnePlayers } from "@services/statistics";
const topPlayes = await getTopOnePlayers();
---

<LayoutStatistics>
  <section>
    <h1>Top One :v</h1>
  </section>
</LayoutStatistics>
