---
import Container from "@components/Container.astro";
import Table from "@components/Table.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    <section class="bg-[#e8521e] md:py-10">
      <Container>
        <!-- schedule - leaderboard -->
        <div class="grid w-full gap-6 px-5 sm:grid-cols-2 lg:grid-cols-3">
          <div>
            <Table />
          </div>

          <div class="lg:col-span-2">
            <div class="grid gap-y-8 gap-x-4">
              <!-- card -->
              <div class="rounded-lg bg-red-300">MVP JORNADA 7</div>
              <div class="rounded-lg bg-blue-300">GOLES</div>
              <div class="rounded-lg bg-red-300">5 ASISTENCIAS</div>
            </div>
          </div>
        </div>
        <!-- mvp - goles - assits -->
      </Container>
    </section>
  </main>
</Layout>
