---
import { getTopOnePlayers } from "@services/statistics";
import CardMain from "./CardMain.astro";

const { mvp, topScorers, topAssist } = await getTopOnePlayers();
const { mvps } = mvp;
const { goals } = topScorers;
const { assists } = topAssist;
---

<section class="grid gap-10">
  <CardMain statistic="MVP" amount={mvps} data={{ ...mvp }} />
  <CardMain statistic="Goles" amount={goals} data={{ ...topScorers }} reverse />
  <CardMain statistic="Asistencias" amount={assists} data={{ ...topAssist }} />
</section>
