---
import { getTopOnePlayers, typeStatistics } from "@services/statistics";
import CardMain from "./CardMain.astro";

const topOnesPlayers = await getTopOnePlayers();
---

<section class="grid gap-10">
  {
    Object.entries(topOnesPlayers).map(([key, data], i) => {
      const { playerName, playerImage, imageReverse, team, teamId } = data;
      return (
        <a href={`/estadisticas/${typeStatistics[key].slug}`}>
          <CardMain
            circle
            statistic={typeStatistics[key].title}
            reverse={i % 2 == 1}
            data={{
              amount: data[typeStatistics[key].keyAmount],
              playerName,
              playerImage,
              imageReverse,
              team,
              teamId,
            }}
          />
        </a>
      );
    })
  }
</section>
