---
import Container from "./Container.astro";
---

<section class="relative -z-10 bg-primary p-10 text-white">
  <Container>
    <h1 class="text-center font-title text-4xl">{Astro.props.title}</h1>
  </Container>
</section>
