---
const { header, large = false, circle = false } = Astro.props;
---

<div class={`relative overflow-x-auto ${circle && "rounded-lg"}  shadow-md`}>
  <table class={`w-full text-left ${large ? "text-lg" : "text-xs"} text-black`}>
    <thead class="bg-black font-title uppercase text-white">
      <tr>
        {
          header.map((col: string) => (
            <th scope="col" class="px-4 py-1">
              {col}
            </th>
          ))
        }
      </tr>
    </thead>
    <tbody>
      <slot />
    </tbody>
  </table>
</div>
