---
import Container from "@components/Container.astro";
import SectionTitle from "@components/SectionTitle.astro";
import Layout from "@layouts/Layout.astro";
import { getTopOnePlayers } from "@services/statistics";
const routes = [
  {
    url: "/estadisticas/mvp",
    name: "simyo MVP",
  },
  {
    url: "/estadisticas/goles",
    name: "Goles",
  },
  {
    url: "/estadisticas/asistencias",
    name: "Asistencias",
  },
];

const topPlayes = await getTopOnePlayers();
---

<Layout>
  <SectionTitle title="Estadísticas" />
  <section class="bg-[#e8521e]">
    <Container>
      <section class="flex flex-col lg:flex-row">
        <!-- menu -->
        <nav class="mt-6 flex gap-4 lg:flex-col">
          {
            routes.map(({ url, name }) => (
              <a
                href={url}
                class={` ${
                  Astro.url.pathname === url
                    ? "pointer-events-none bg-black "
                    : "bg-black/20"
                } font-title p-2 pr-20 text-white hover:bg-black`}
              >
                {name}
              </a>
            ))
          }
        </nav>
        <!-- tables -->
        <div class="flex-grow bg-white p-4">
          <slot />
        </div>
      </section>
    </Container>
  </section>
</Layout>
